:root {
    /* --webdzo-color: RGB(148, 32, 52); */
    --webdzo-color: rgb(57 134 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button,
a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button:focus,
a:focus,
button:focus {
    text-decoration: none;
    outline: 0;
}

.footer -menu li a:hover,
.portfolio-cat a:hover,
a:focus,
a:hover {
    text-decoration: none;
}

a,
button {
    color: #1f1f1f;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Nunito Sans", sans-serif;
}

.header-area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    /* position: absolute; */
}

.header-area .main-header-area {
    background: 0 0;
    /* padding: 0 150px; */
}

.header-area .main-header-area.details_nav_bg {
    background: #727272;
    padding-bottom: 0;
}

.header-area .main-header-area.details_nav {
    background: #001d38;
}

.header-area .main-header-area .logo-img {
    text-align: center;
}

.header-area .main-header-area .Appointment {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}

.header-area .main-header-area .Appointment .phone_num {
    margin-right: 30px;
}

.header-area .main-header-area .Appointment .phone_num a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.header-area .main-header-area .Appointment .phone_num a i {
    color: var(--webdzo-color);
    font-size: 14px;
    margin-right: 7px;
}

.header-area .main-header-area .Appointment .socail_links ul li {
    display: inline-block;
}

.header-area .main-header-area .Appointment .socail_links ul li a {
    color: var(--webdzo-color);
    margin: 0 10px;
    font-size: 15px;
}

.header-area .main-header-area .Appointment .socail_links ul li a:hover {
    color: #fff;
}

.header-area .main-header-area .main-menu {
    text-align: center;
}

.header-area .main-header-area .main-menu ul li {
    display: inline-block;
    position: relative;
    margin: 0 25px;
}

.header-area .main-header-area .main-menu ul li a {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding: 35px 0;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    text-transform: capitalize;
}

.header-area .main-header-area .main-menu ul li a i {
    font-size: 9px;
}

.header-area .main-header-area .main-menu ul li a:hover {
    color: var(--webdzo-color);
}

.header-area .main-header-area .main-menu ul li .submenu {
    position: absolute;
    left: 0;
    top: 120%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
    display: block;
    margin: 0;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
    display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
    color: #000;
}

.header-area .main-header-area .main-menu ul li:hover>.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover>a::before {
    opacity: 1;
}

.header-area .main-header-area .main-menu ul li:first-child a {
    padding-left: 0;
}

.header-area .main-header-area.sticky {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header-area .main-header-area.sticky .main-menu {
    padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
    border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
    border-bottom: none !important;
}

.header-area .header-top_area {
    background: #001d38;
}

.header-area .header-top_area .social_media_links a {
    font-size: 15px;
    color: #c7c7c7;
    margin-right: 12px;
}

.header-area .header-top_area .social_media_links a:hover {
    color: var(--webdzo-color);
}

.header-area .header-top_area .header_left p {
    color: #727272;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0;
}

.header-area .header-top_area .short_contact_list {
    text-align: right;
}

.header-area .header-top_area .short_contact_list ul li {
    display: inline-block;
}

.header-area .header-top_area .short_contact_list ul li a {
    font-size: 13px;
    color: #919191;
    margin-right: 50px;
}

.header-area .header-top_area .short_contact_list ul li a i {
    color: var(--webdzo-color);
    margin-right: 7px;
}

.header-area .header-top_area .header_right.d-flex {
    display: flex;
    justify-content: flex-end;
}

.header-area .search_btn i {
    color: #fff;
    font-size: 15px;
}

.justify-content-evenly {
    justify-content: space-evenly;
}


.service-grid {
    background: #fcfcfc;
}
    .service-title h2 {
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}
/* .service-title h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--webdzo-color);
    bottom: -25px;
    margin: auto;
    right: 0;
} */

.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}
.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;
}
.about-content p {
    margin-bottom: 0;
}
.about-info-text a {
    margin-bottom: 20px;
}
.service-icon i {
    font-size: 40px;
    color: var(--webdzo-color);;
    margin-bottom: 20px;
    display: inline-block;
}
.service-wrap {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    height: 100%;
    position: relative;
}

.service-icon {
    width: 75px;
    background: white;
    padding: 23px;
    border-radius: 15px;
    position: absolute;
    top: -40px;
    left: 40%;
    -moz-box-shadow: 0 0 5px var(--webdzo-color);
    -webkit-box-shadow: 0 0 5px var(--webdzo-color);
    box-shadow: 0 0 5px var(--webdzo-color);

}

.service-wrap h4 {
    font-weight: 700;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 17px;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.service-wrap a {
    font-size: 14px;
    font-weight: 600;
    color: var(--webdzo-color);
}
.grid-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.container-header {
    background: url(../img/seo/seo-header-img.jpg);
    display: flex;
    position: relative;
}
#seo-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.boast-message {
    text-align: center;
}
.boast-message h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--webdzo-color);
}
.boast-message, .contact-form-header {
    flex-grow:1;
    color: white;
    z-index: 100;
    padding: 4rem;
}
.contact-form-header form {
    margin: 0 auto;
}
.contact-form-header input, textarea, button {
    display: block;
    outline: none;
    border: 1px solid var(--webdzo-color);
    padding: 5px;
    margin-top: 10px;
}
.contact-form-header textarea {
    width: 100%;
}

.group  { 
  position:relative; 
  margin-bottom:30px; 
  z-index: 100;
}
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none; }

/* LABEL ======================================= */
label  {
  color:#000; 
  font-size:14px;
  font-weight:normal;

  pointer-events:none;

  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-label {
    position:absolute;
    left:15px;
    top:15px;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top:-20px;
  left: 5px;
  font-size:14px;
  color:#fff;
}

/* BOTTOM BARS ================================= */
.bar{ position:relative; display:block; width:300px; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:var(--webdzo-color); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
.why-choose-webdzo {
    text-align: center;
}
.why-webdzo {
    font-size: 1.3rem;
    color: #8e8989;
    letter-spacing: 10px;
}
.why-choose-webdzo p {
    color: #7a7a7a;
    line-height: 26px;
}
.webdzo-ranked {
    font-weight: 900;
    font-size: 2.1rem;
    margin-top:10px;
    margin-bottom: 20px;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.statistic-section {
    padding: 40px 0;
    background:#00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff); 
}

.count-title {
    font-size: 50px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.stats-text {
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.stats-line-black {
    margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
}

.stats-icon {
    font-size: 35px;
    margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}

.counter span {
    color: white;
}

.footer {
    background: #fff;
}

.footer p {
    font-family: "Nunito Sans", sans-serif !important;
}

.footer .footer_top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .footer_top .footer_widget .footer_title {
    font-size: 18px;
    font-weight: 500;
    color: #040e27;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: "Nunito Sans", sans-serif;
}

.footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #040e27;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.footer .footer_top .footer_widget p {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.follow-us p {
    text-decoration: underline;
}

.footer .footer_top .footer_widget p a {
    color: #7a838b;
}

.footer .footer_top .footer_widget p a:hover {
    color: #040e27;
}

.footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
    color: #b2b2b2;
    font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #040e27;
    border-bottom: 1px solid #040e27;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #b2b2b2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #040e27;
    border-bottom: 1px solid #040e27;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
    color: #7a838b;
    font-size: 13px;
    line-height: 42px;
}

.footer .footer_top .footer_widget ul li a {
    color: #7a838b;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
    color: #040e27;
}

.newsletter_form {
    position: relative;
    margin-bottom: 20px;
}

.newsletter_form input {
    width: 100%;
    height: 40px;
    background: 0 0;
    padding-left: 20px;
    font-size: 15px;
    color: #040e27;
    border: none;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
}

.newsletter_form input::placeholder {
    font-size: 14px;
    color: #7a838b;
}

.newsletter_form input:focus {
    outline: 0;
}

.newsletter_form button {
    position: absolute;
    height: 30px;
    border: none;
    color: #fff;
    background: var(--webdzo-color);
    padding: 0 22px;
    cursor: pointer;
    border-radius: 4px;
    top: -4px;
    right: 5px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form {
    position: relative;
    margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
    width: 100%;
    height: 40px;
    background: white;
    padding-left: 20px;
    font-size: 15px;
    color: #040e27;
    border: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-family: "Nunito Sans", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
    font-size: 14px;
    color: #7a838b;
}

.footer .footer_top .footer_widget .newsletter_form input:focus {
    outline: 0;
}
/* 
.footer .footer_top .footer_widget .newsletter_form button {
    position: absolute;
    height: 30px;
    border: none;
    color: #fff;
    background: var(--webdzo-color);
    padding: 0 22px;
    cursor: pointer;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
} */

.footer .footer_top .footer_widget .newsletter_text {
    font-size: 13px;
    color: #7a838b;
    line-height: 26px;
}

.footer .copy-right_text {
    padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
    font-size: 13px;
    color: #7a838b;
    margin-bottom: 0;
    font-weight: 500;
}


.footer .copy-right_text .copy_right a {
    color: var(--webdzo-color);
}

.footer .socail_links {
    padding: 0;
}

.footer .socail_links ul li {
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer .socail_links ul li a {
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    background: 0 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer .socail_links ul li a i {
    font-size: 15px;
    line-height: 40px;
    position: relative;
    top: -1px;
}

.footer .socail_links ul li:hover a {
    color: #fff !important;
}

#scroll-to-top {
    width: 25px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

#scroll-to-top:hover {
   transform: translateY(-15px);
}

.contact-form {
    background: #fff;
    margin-top: 90px;
    margin-bottom: 40px;
    width: 50%;
}

.contact-form .form-control {
    border-radius: 4px;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}

.contact-form form {
    padding: 5%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.contact-form .btnContact {
    width: 30%;
    border: none;
    border-radius: 4px;
    padding: 7px;
    background: var(--webdzo-color);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.form-group label {
    color: black;
    font-weight: 700;
}

.form-group label:after {
    content: "*";
    color: red;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}